//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.section-header {
  position: absolute;
  left: 64px;
  right: 184px;
  z-index: 1;

  padding: 45px 10px;
  
  .header-logo {
    margin: 1px 110px;

    color: $white;
  }

  .navbar-nav > li > a:hover {
    text-decoration: none; 
   
    background: rgb(230,154,33);
    background: linear-gradient(90deg, rgba(230,154,33,1) 0%, rgba(234,172,34,1) 45%, rgba(239,212,35,1) 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    overflow: hidden;
  }

  .navbar-nav > li > a:focus {
    font-family: $font-ProximaNova-Bold;
  }

  .nav-item {
    margin: 5px 16px;
  }

  .nav-link {
    padding: 9px 34px;

    font-family: $font-ProximaNova-Regular;
    font-size: 18px;
    color: $white;
    letter-spacing: -0.4px;
  }
}

@media screen and (min-width:1200px) and (max-width:1454px) {
  .section-header {
    left: 0;
    right: 0;

    padding: 0;

    .header-logo {
      margin: 35px 15px;

      width: 150px;
    }

    .nav-item {
      margin: 5px 15px;

      .nav-link {
        padding: 0;

        font-size: 16px;
      }
    }
  }
}

@include respond-to(lg) {
  .section-header {
    left: 0;
    right: 0;

    padding: 0;

    .header-logo {
      margin: 35px 15px;

      width: 150px;
    }

    .nav-item {
      margin: 5px 15px;

      .nav-link {
        padding: 0;

        font-size: 16px;
      }
    }
  }
}

@include respond-to(md) {
  .section-header {
    left: 0;
    right: 0;

    padding: 0;

    .header-logo {
      margin: 35px 15px;
      width: 150px;
    }

    .navbar-toggler {
      padding: 0;
      padding: 0 20px;
      margin-bottom: 25px;

      .icon-bar {
        height: 3px;

        background: $white;
      }

      .toggler-bar {
        margin-top: 6px;
      }
    } 

    .collapse.show {
      position: fixed;
      top: 120px;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;
      height: 100% !important;
  
      background-color:$white;
    }

    .collapsing {
      position: fixed;
      top: 75px;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;
      height: 100% !important;

      background-color: $white;
    }

    .navbar-nav {
      margin: 20px 0;

      .nav-item {
        margin: 0;
      }

      .nav-link {
        padding: 12px 30px;

        font-family: $font-ProximaNova-Semibold;
        font-size: 20px;
        letter-spacing: 0;
        color: $blue-green;
      }
    }
  }
}

@include respond-to(sm) {
  .section-header {
    left: 0;
    right: 0;

    padding: 0;

    .header-logo {
      margin: 35px 15px;
      width: 140px;
    }

    .navbar-toggler {
      padding: 0;
      padding: 0 5px;
      margin-bottom: 25px;

      .icon-bar {
        height: 3px;

        background: $white;
      }

      .toggler-bar {
        margin-top: 6px;
      }
    } 

    .collapse.show {
      position: fixed;
      top: 120px;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;
      height: 100% !important;
  
      background-color:$white;
    }

    .collapsing {
      position: fixed;
      top: 75px;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;
      height: 100% !important;

      background-color: $white;
    }

    .navbar-nav {
      margin: 20px 0;

      .nav-item {
        margin: 0;
      }

      .nav-link {
        padding: 12px 30px;

        font-family: $font-ProximaNova-Semibold;
        font-size: 16px;
        letter-spacing: 0;
        color: $blue-green;
      }
    }
  }
}

@include respond-to(xs) {
  .section-header {
    left: 0;
    right: 0;

    padding: 0;

    .lock-scroll {
      overflow: hidden;
    }
    
    .header-logo {
      margin: 30px 10px;
      width: 125px;
    }

    .navbar-toggler {
      padding: 0;
      padding: 0 5px;
      margin-bottom: 25px;

      .icon-bar {
        height: 3px;

        background: $white;
      }

      .toggler-bar {
        margin-top: 6px;
      }
    } 

    .collapse.show {
      position: fixed;
      top: 105px;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;
      height: 100% !important;
  
      background-color:$white;
    }

    .collapsing {
      position: fixed;
      top: 75px;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;
      height: 100% !important;

      background-color: $white;
    }

    .navbar-nav {
      margin: 15px 0;

      .nav-item {
        margin: 0;
      }

      .nav-link {
        padding: 10px 25px;

        font-family: $font-ProximaNova-Semibold;
        font-size: 16px;
        letter-spacing: 0;
        color: $blue-green;
      }
    }
  }
}
